/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
	background: black;
}

body {
	height: 100vh;
	width: 100vw;
	background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/retina_wood.png');
}

.game-body {
	position: absolute;
	height: 475px;
	width: 475px;
	border-radius: 50%;
	background: #333333;
	margin: 0 auto;
	top: 10vh;
	left: 0;
	right: 0;
	box-shadow: 0 0 10px;
}

button {
	height: 210px;
	width: 210px;
	border-style: none;
	outline: none;
	position: relative;
	left: 35px;
	top: 35px;
}

.green {
	background:#00A74A;
	border-top-left-radius: 210px;
	top: 25px;
	left: 25px;
}

.red {
	background: #9F0F17;
	border-top-right-radius: 210px;
	top: 25px;
	left: 25px;
}

.blue {
	background: #094A8F;
	border-bottom-right-radius: 210px;
	top: 25px;
	left: 25px;
}

.yellow {
	background: #CCA707;
	border-bottom-left-radius: 210px;
	top: 25px;
	left: 25px;
}

.center-cover-up {
	position: absolute;
	height: 242px;
	width: 242px;
	background: #333333;
	border-radius: 100%;
	top: 115px;
	left: 115px;
}

.vert-cross {
	background: #333333;
	width: 30px;
	height: 465px;
	position: absolute;
	top: 5px;
	left: 222px;
}

.hor-cross {
	background: #333333;
	width: 465px;
	height: 30px;
	position: absolute;
	top: 222px;
	left: 5px;
}