/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
	background: black;
}

body {
	height: 100vh;
	width: 100vw;
	background: lightblue;
	text-align: center;
	padding-top: 6em;
}

h1 {
	/* Search for a better font slanted, italic style */
	font-family: 'Teko', sans-serif;
	font-size: 4em;
	font-weight: 600;
}

a, p {
	font-size: 2em;
	display: inline;
	text-decoration: none;
	color: black;
}

a:hover {
	animation: pulse 1.2s infinite;
}

@keyframes pulse {
	0% {
		color: black;
	}
	5% {
		color:purple;
	}
}

p {
	font-family: sans-serif;
	font-size: 2em;
	font-weight: 200;
}

.classic {
	/* Search or a good classic style font */
	font-family: 'Playball',cursive;
}

.modern {
	/* Search for a good modern style font */
	font-family: 'Titillium Web', sans-serif;
}
